footer.footer
	div.centered
		span.copyright
			|© 
			a(href="mailto:cam@mackay.net.nz") Campbell Mackay 
			|2013
		span.powered-by
			|Powered by 
			a(href="http://nodejs.org/") node.js
			|, 
			a(href="http://expressjs.com/") express.js