header
	div.centered
		nav
			ul
				li
					a(href="/Blog") Blog
				li
					a(href="/About") About
				if user
					li
						a(href="/Account")= user.username
					li
						a(href="/Logout") Logout
				else
					li
						a(href="/Login") Login
					li
						a(href="/Signup") Signup
		h1 dupondius