header.centered
	h1 dupondius
nav.centered
	ul.nav
		li.nav-item
			a(href="/") Blog
		li.nav-item
			a(href="/About") About
		li.nav-item
			a(href="/Archives") Archives
		li.nav-item
			a(href="mailto:cam@mackay.net.nz") Contact
