extends layout

block content
	form(method="post")
		div
			div
				span Login :
				input(type="text", name="username", id="signupUsername")
			div
				span Password :
				input(type="text", name="password", id="signupPassword")
			div
				span Confirm Password :
				input(type="text", name="passwordConfirm", id="signupPasswordConfirm")
			div
				span Email :
				input(type="text", name="email", id="signupEmail")
			div#signupSubmit
				input(type="submit", value="Create")
	if errors
		#validationErrors
			- each error in errors
				div.validationError
					p= error.type
				script(type='text/javascript').
					$(document).ready(function () {
						$('input[name=!{error.path}]').addClass('invalid');
					});
