// general styling
html
  height: 100%
body
  height: 100%
  margin: 0px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
header, footer, nav, article
  display: block
p, h2
  margin: 0px
a
  color: #52B362
  font-weight: 600
  text-decoration: none
a:hover
  color: #A13FD8 
.centered
  margin: 0 auto  
  max-width: 940px
#container
  min-height: 100%
  position: relative

// header styling
h1 
  margin: 0px
  padding: 20px
nav
  position: absolute 
  left: 0
  width: 100%
  background-color: #52B362
  ul
    list-style: none
    li
      float: left
      text-align: center
      width: 150px
      a
        display: inline
        font-size: 14px
        font-weight: normal
        line-height: 44px
        text-decoration: none
        color: #eee
      a:hover
        color: #fff
        background-color: rgb(48, 100, 0)
        padding: 6px 8px
        border-radius: 3px
    li.selected
      a
        color: #fff

// main content styling
#content
  margin-top: 95px
  padding-bottom: 95px

// article styling
article
  margin-bottom: 50px
  header
    margin-bottom: 10px
    padding-bottom: 5px
    border-style: dotted
    border-width: 0px 0px 1px 0px
    border-color: #C7C7C7
  .subtitle
    font-size: 12px
    color: #777
    time
      margin-right: 20px
  .body
    line-height: 20px

// footer styling
footer
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  margin-top: 20px
  padding: 20px 0px
  font-size: 12px
  color: rgb(119, 119, 119)
  border-color: #979797
  border-style: solid
  border-width: 1px 0px 0px 0px
  background-color: #ECECEC
  div
    .right
      float: right
    .left
      float: left
