// qualified names
html
  height: 100%
body
  height: 100%
  margin: 0px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
header, footer, nav, article
  display: block
h1, h2, p
  margin: 0px
a
  color: #52B362
  font-weight: 600
  text-decoration: none
a:hover
  color: #A13FD8
input
  border-width: 1px
  border-style: solid
label
  display: inline-block
  width: 80px
  padding: 2px

// general styling
::selection
  background: #fe57a1
  color: white
  text-shadow: none
.centered
  margin: 0 auto
  max-width: 940px
#container
  min-height: 100%
  position: relative
#content
  margin-top: 35px
  padding-bottom: 15px

// navigation styling
.nav
  list-style: none
  background-color: #52B362
  border-radius: 3px
  border-width: 1px;
  border-style: solid;
  border-color: #2a6f2d;
.nav-item
  display: inline-block
  text-align: center
  width: 150px
.nav-item
  a
    display: inline
    font-size: 14px
    font-weight: normal
    line-height: 44px
    text-decoration: none
    color: #eee
  a:hover
    color: #fff
    background-color: #76DB82
    padding: 6px 8px
    border-radius: 3px
.nav-current
  border-style: solid;
  border-width: 5px 0px 5px 0px;
  border-color: rgb(42, 111, 45);
  a
    color: #fff
    font-style: italic

// article styling
.article
  margin-bottom: 50px
.article-header
  margin-bottom: 10px
  padding-bottom: 5px
  border-style: dotted
  border-width: 0px 0px 1px 0px
  border-color: #C7C7C7
.article-title
  a
    color: black
  a:hover
    color: #A13FD8
.article-subtitle
  font-size: 12px
  color: #777
  time
    margin-right: 20px
.article-body
  line-height: 25px

// footer styling
.footer
  position: absolute
  bottom: 0
  width: 100%
  padding: 10px 0px
  font-size: 12px
  color: #fff
  background-color: #214924
  .powered-by
    float: right
  .copyright
    float: left