body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
input {
  border-color: #808080;
  border-width: 1px;
  border-style: solid;
}
input.invalid {
  border-color: #f00;
}
