html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header,
footer,
nav,
article {
  display: block;
}
h1,
h2,
p {
  margin: 0px;
}
a {
  color: #52b362;
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  color: #a13fd8;
}
input {
  border-width: 1px;
  border-style: solid;
}
label {
  display: inline-block;
  width: 80px;
  padding: 2px;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
.centered {
  margin: 0 auto;
  max-width: 940px;
}
#container {
  min-height: 100%;
  position: relative;
}
#content {
  margin-top: 35px;
  padding-bottom: 15px;
}
.nav {
  list-style: none;
  background-color: #52b362;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #2a6f2d;
}
.nav-item {
  display: inline-block;
  text-align: center;
  width: 150px;
}
.nav-item a {
  display: inline;
  font-size: 14px;
  font-weight: normal;
  line-height: 44px;
  text-decoration: none;
  color: #eee;
}
.nav-item a:hover {
  color: #fff;
  background-color: #76db82;
  padding: 6px 8px;
  border-radius: 3px;
}
.nav-current {
  border-style: solid;
  border-width: 5px 0px 5px 0px;
  border-color: #2a6f2d;
}
.nav-current a {
  color: #fff;
  font-style: italic;
}
.article {
  margin-bottom: 50px;
}
.article-header {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-style: dotted;
  border-width: 0px 0px 1px 0px;
  border-color: #c7c7c7;
}
.article-title a {
  color: #000;
}
.article-title a:hover {
  color: #a13fd8;
}
.article-subtitle {
  font-size: 12px;
  color: #777;
}
.article-subtitle time {
  margin-right: 20px;
}
.article-body {
  line-height: 25px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0px;
  font-size: 12px;
  color: #fff;
  background-color: #214924;
}
.footer .powered-by {
  float: right;
}
.footer .copyright {
  float: left;
}
