article.article
	header.article-header
		h2.article-title
			a(href="/blog/" + article.id)= article.title
		p.article-subtitle
			|Posted on 
			time.date= article.dateText
			a(href="/blog/" + article.id).comments= article.commentsText
	p.article-body= article.body